## Remember

- Do not edit the function name or any other code or variables outside the predefined block for writing code
- Write the code only inside the block replacing the pass statement. 
```
# code starts
    pass
# code ends
```
- You may add additional comments for your convenience. But do not replace the existing lines of comments
- All the libraries that are necessary for the assignments are already imported
- Points will only be awarded if all the test cases are passed


***Note: If you think certain test should pass but is constantly failing despite correct code. Try Restarting the Kernal and re-running the code. If it's still not resolved report it to the instructor with appropriate screenshot of the code and the output.***

In [1]:
from Utils.day2 import *

In [2]:
score = {}

___

***Run the above cells before starting the assignments***

# Assignment Begins

#### Q1: Write a function that takes a list value as an argument and returns a string with all the items separated by a comma and a space, with and inserted before the last item.

In [3]:
def comma_code(mylist):
    """ Concanates list elements with ,
    The function should convert all the list element in the list to string before appending
    
    Args:
        mylist: mon-empty list of elements

    Returns:
        si : string consisting of all elements of mylist separated with ,
    """
    
    # code starts
    pass

    # code ends

Case : If ```mylist=['apples','bananas','car','dog']```, then the function should return 'apples,bananas,car,dog'

In [4]:
# Custom Test - you can test your code here by changing the argument values
comma_code(['apples','bananas','car','dog'])

In [5]:
# Automated Test - Do not change it
points = test_comma_code(comma_code)
score["Q1"] = points

 Test 0: Failed
 Test 1: Failed
 Test 2: Failed

#### Q2: Write a program for performing basic list operations in sequential order as below:
1. ```a``` -> Append element ```a``` to the list
2. ```i,e``` -> insert element ```e``` in index ```i```
3. Sort the list
4. Pop the last element of the list
5. Reverse the list
*Consider the list elements to be integers*

In [6]:
def list_operations(mylist,a,i,e):
    """ perform the list operations

    Args:
        mylist: list of elements (integer only)
        a : element to append to the list
        i : index to which the element 'e' is to be inserted
        e : element to be inserted to the index 'i'

    Returns:
        mylist : list after various operations
    """
    
    # code starts
    pass

    # code ends

Case : If ```mylist=[5,2,7]```, ```a=12```, ```i=1```, ```e=10```, then ```output=[10,7,5,2]```

In [7]:
# Custom Test - you can test your code here by changing the argument values
list_operations([5,2,7],12,1,10)

In [8]:
# Automated Test - Do not change it
points = test_list_operations(list_operations)
score["Q2"] = points

 Test 1: Failed
 Test 0: Failed
 Test 3: Failed
 Test 0: Failed
 Test 2: Failed

#### Q3: Write a program to find the student with lowest score (Nested list operations)
Input list consists of list elements comprising of student name and score in format [["student",score],...]
Output should print name of student with lowest socre

In [9]:
def lowest_score(students):
    """ find the student with the lowest score

    Args:
        students: list  of tuples in format [["student",score],...], where score must be integer or float

    Returns:
        result: student name with lowest score
    """
    # code starts
    pass

    # code ends

Case : If ```students=[('Harry', 37.21), ('Berry', 37.21), ('Tina', 37.2), ('Akriti', 41), ('Harsh', 39)]``` then the function should return "Tina"

In [10]:
# Custom Test - you can test your code here by changing the argument values
lowest_score([('Harry', 37.21), ('Berry', 37.21), ('Tina', 37.2), ('Akriti', 41), ('Harsh', 39)])

In [11]:
# Automated Test - Do not change it
points =  test_lowest_score(lowest_score)
score["Q3"] = points

 Test 0: Failed
 Test 1: Failed
 Test 2: Failed

#### Q4: Write a program to display average score of students (Dictionary)
The provided input should be a dictionary containing key/value pairs of name:[marks] for a list of students. Print the average of the marks array for the student name provided, showing 2 places after the decimal.

In [12]:
def average_score(grades):
    """ compute average score of each student

    Args:
        grades : dictionary containing key/value pairs of name:[marks] for a list of students

    Returns:
        result: dictionary containing key/value pairs of name:average score

    """

    # code starts
    pass

    # code ends

Case : If 
<pre>
n = {
     "alpha":[20,30,40],
     "beta":[30,50,70]
    }
</pre>        
then the function should return

In [13]:
# Custom Test - you can test your code here by changing the argument values
average_score({"jack":[45,90,50,92,53,85,75]})

In [14]:
# Automated Test - Do not change it
points =  test_average_score(average_score)
score["Q4"] = points

 Test 0: Failed
 Test 1: Failed
 Test 2: Failed

#### Q5: Write a program to remove duplicates from tuple

In [15]:
def remove_duplicate(n):
    """ remove the duplicate elements from tuple

    Args:
        n : given tuple

    Returns:
        result: tuple after removing duplicate elements

    """
    
    # code starts
    pass

    # code ends

Case : If ```n = (3,8,9,3,1)``` then the function should return ```(8, 9, 3, 1)```

In [16]:
# Custom Test - you can test your code here by changing the argument values
remove_duplicate((3,8,9,3,1))

In [17]:
# Automated Test - Do not change it
points =  test_remove_duplicate(remove_duplicate)
score["Q5"] = points

TypeError: object of type 'NoneType' has no len()

## Assignment Ends

---

In [ ]:
final_score(score)

In [ ]:
!jupyter-nbconvert --to html 'Day 2 - Data Structure Assignment.ipynb' --output "Day 2 - Data Structure Assignment.html"